
body{ 
 /* background: url("../background-8.jpg") no-repeat fixed; */
    background-size:cover;
    background-color:white;
         font-weight:lighter;
	font-family: 'Roboto', 'Avenir Next', sans-serif; 
    margin:0;
    padding-left:3%;
    padding-right:3%;
 }
 #top{
    margin:0;
    padding-left: 3%;
    padding-right:3%;
        position:absolute;
 
}
#cats{
    
    width:100%;
    text-align: center;
    color:black;
}
#welcome_message{
    color:beige;
}
#header{
    width:20%;
         width:250px;

    float:left;
    box-shadow: 0 2px 3px  #888888;
    background-color: lightgray;
    opacity:0.5;
    padding-bottom:10px;

}
table tbody tr td {
  border: 1px black solid;
  padding: 5 5;
}
#logo{
   width: 100%;  
   font-weight: lighter;
   padding-bottom:10px;
    
}
#logo1{
   	font-family: 'Roboto', 'Avenir Next', sans-serif; 
    font-size:55px;
    font-weight:lighter;
    text-align: center;}
#logo2{
	font-family: 'Roboto', 'Avenir Next', sans-serif; 
    font-size: 130%;
    /* font-style: initial; */
    font-weight: lighter;
    text-align: center;
}
ul{

padding:0;

} 
#nav{
    margin:auto;
    width:100%;
    float: left;
    margin: 0 auto;
	font-size: 130%;
    font-weight:lighter;
    text-align: center; 
} 
ul{

	list-style-type: none;
}
.nav-class>li{
     padding  : 5px;
    width:90%;
    display:inline-block;
    border-style:inset;
    border-color:#D3D3D3;
     border-width: 0 0 1px 0;
    border-radius: 2px;
 } 
.nav-class{
    margin:0;
}
.footclass>li{
    display:inline-block;}
.footclass>a{

display:inline-block;}

a{
    
	text-decoration: none;
    color:black;
    text-align: center;
}
a:hover{
	color: #e0ffff;
}
#anchorl{
	color:#e0ffff;
}
#anchorl:hover{
	color:beige;
}

.imagegallery>div{ 
    padding: 0% 0% 0% 10%;
    max-width:50%;
    min-width:222px;
float:left;  }
 
.imagegallery{ 
      max-width:80%;
     min-width:222px;
    float:left;
    
}

.imagegallery>div>a>img{
     max-width: 100%; 
     box-shadow: 0 2px 3px  #888888;
     

 }
.imagegallery>div>a{
     max-width: 100%; 
    font-size: 21px;
    
 }
.imagegallery>a:hover{
    color:gray;
    
 }

.about{
    float:right;

    padding-top: 50px;
    width:60%;
}
.contact{
        float:right;

    padding-top: 50px;
    width:60%;
}
.clients{
    float:right;
    padding-top: 50px;
    width:60%;
        
}
.clients>a:hover{
    color:lightblue;
}
.clients>a{
    color:gray;
    text-decoration:underline;
}
.copyright{
        float:right;

    padding-top:50px;
    width:60%;
}
.imagegallery1{
    float:right;

    width:70%;
    padding-left:5%;
}
.imagegallery1>div>img{
     max-width: 100%; 
    font-size: 21px;
    box-shadow: 0 2px 3px  #888888;   
 }
.imagegallery1>div{
     
     max-width:100%;
}

#linktogallery{
    color:gray;
}
#linktogallery:hover{
    color:aqua;
}
footer{
      bottom: 0;
    /* width: 100%; */
    /* height: 45px; */
    /* background: #6cf; */
    margin:auto;
    text-align: center;
    clear:both;
}
.footclass>li>a:hover{
    color:dimgray;
}
.good {
  background-color:#7FCA9F;

  
}

.bad {
  background-color:  #E96D63;
}
 
 
